html{
    font-family: "Trebuchet MS";
}

h1 {
    background-color: rgba(132,126,101, 0);
    font-family: "Trebuchet MS", Icons !important;
    text-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.author {
    font-family: "Trebuchet MS";
    text-weight: bold;
    text-align: center;
    line-height: 1;
    outline-width: thin;
    outline-style: solid;
    outline-offset: 15px;
}


.csvInput {
    float: left;
    outline-width: thin;
    outline-style: solid;
}
.mapImage {
    height: 828px;
    float: left;
    outline-width: thin;
    outline-style: solid;
}
.map {
    outline-width: thin;
    outline-style: solid;
}



